# Ignore everything
*
node_modules/
node_modules/*
api/databaseconfig.js

#But allow git to go into directory
!*/

#and the allow these subdirectories
!/pages/**
!/components/**
!api/**
!package.json
!package-lock.json
!static/**
